# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual environment
.venv/

# Build artifacts
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/

# Environment variables
.env
.env.*

# uv
uv.lock